.react-date-picker__calendar {
    z-index: 10 !important
}

.react-date-picker {
    width: 100%;
    font-size: var(--chakra-fontSizes-md) !important;
    height: var(--chakra-sizes-10);
}

.react-date-picker__wrapper {
    border-radius: var(--chakra-radii-md);
    border-color: var(--chakra-colors-gray-200) !important;
    width: 100%;
    padding-inline-start: var(--chakra-space-4);
    padding-inline-end: var(--number-input-input-padding);
}

.react-date-picker__inputGroup, .react-date-picker__clear-button {
    border-right: 1px solid var(--chakra-colors-gray-200) !important;
}

html, body {
    max-width: 100vw;
    overflow-x: hidden;
}
